{% extends 'base.html.twig' %}

{% block title %}Formulaire de mise à jour d'article{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <h3 class="mt-5 mb-5">Formulaire de contact</h3>
        <div class="col-md6 offset-md-3">
            {{ form_start(form) }}
                {# {{ form(form) }} #} {# Cette ligne est trop simpliste. Si on veut personnaliser le formulaire (CSS), il faut ajouter nos labels et widgets manuellement. #}
                <div class="my-custom-class-for-errors"> {# Message d'erreur #}
                    {{ form_errors(form) }}
                </div>
                <div class="form-group text-white">
                    {{ form_errors(form.title) }}
                    {{ form_label(form.title) }}
                    {{ form_widget(form.title, {'attr' : { class: "form-control myForm"}} ) }}
                </div>
                <div class="form-group text-white">
                    {{ form_errors(form.content) }}
                    {{ form_label(form.content) }}
                    {{ form_widget(form.content, {'attr' : { class: "form-control myForm"}} ) }}
                </div>
                <div class="form-group">
                    <button class="btn btn-info mt-2 text-chite">Soumettre</button> <!-- Nb : Les formaulaires de symfony n'ont rien à voir avec la méthode HTML/Javascript de faire des imputs et buttons. 5noter l'absence d'attribut "name" et "type=submit" dans les balises. -->
                </div>

            {{ form_end(form) }}

        </div>
    </div>
</div>
{% endblock %}
